<div class="cont">
    <div class="banner__img">
        <img class="small" src="../../assets/banner-small.png" alt="banner-1" />
        <img class="large" src="../../assets/banner.png" alt="banner-1" />
    </div>
    <div class="card">
        <h1 class="card__title">
            Explore the new BMW i4 range
        </h1>
        <div class="card__desc text-center">
            <p>
                From the cool Trend SUV- inspired Active to the sporty ST-Line. the enlighten generation Fiesta impress
                across the range
            </p>
        </div>
        <div class="card__features">
            <div>
                <h1 class="card__features__head">02:05 hr</h1>
                <div class="card__features__desc">Charging at home for a range of 62 miles 1</div>
            </div>
            <div>
                <h1 class="card__features__head">365</h1>
                <div class="card__features__desc">Electric range in miles</div>
            </div>
        </div>
        <div class="card__button">
            <button>Book a test drive </button>
        </div>
    </div>
</div>