<div class="cont">
    <h1>
        BMW i4 trims
    </h1>
    <div class="carousel">

        <!-- Card 1 -->
        <div class="card">
            <div class="card__cont">
                <div class="card__img">
                    <img src="../../assets/car-1.png" />
                </div>
                <div class="card__img">
                    <h1>
                        M 50
                    </h1>
                    <div>From
                        <span>£ 65,795</span>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Velor floor mats
                            </li>
                            <li>
                                Sun Protection glass
                            </li>
                            <li>
                                Automatic Stability Control (ASC)
                            </li>
                            <li>
                                Adaptive M suspension
                            </li>
                            <li>
                                Storage for wireless charging
                            </li>
                            <li>
                                Cruise control with brake assit
                            </li>
                            <li>
                                Automatic tailgate operation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Card 2 -->
        <div class="card">
            <div class="card__cont">
                <div class="card__img">
                    <img src="../../assets/car-2.png" />
                </div>
                <div class="card__img">
                    <h1>
                        M Sport
                    </h1>
                    <div>From
                        <span>£ 65,795</span>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Velor floor mats
                            </li>
                            <li>
                                Sun Protection glass
                            </li>
                            <li>
                                Automatic Stability Control (ASC)
                            </li>
                            <li>
                                Adaptive M suspension
                            </li>
                            <li>
                                Storage for wireless charging
                            </li>
                            <li>
                                Cruise control with brake assit
                            </li>
                            <li>
                                Automatic tailgate operation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Card 3-->
        <div class="card">
            <div class="card__cont">
                <div class="card__img">
                    <img src="../../assets/car-3.png" />
                </div>
                <div class="card__img">
                    <h1>
                       Sport
                    </h1>
                    <div>From
                        <span>£ 65,795</span>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Velor floor mats
                            </li>
                            <li>
                                Sun Protection glass
                            </li>
                            <li>
                                Automatic Stability Control (ASC)
                            </li>
                            <li>
                                Adaptive M suspension
                            </li>
                            <li>
                                Storage for wireless charging
                            </li>
                            <li>
                                Cruise control with brake assit
                            </li>
                            <li>
                                Automatic tailgate operation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Card end -->
    </div>
</div>