# Ignore build artifacts
build/
dist/

# Ignore configuration files
config.ini
settings.yaml

# Ignore log files
*.log

# Ignore IDE and editor-specific files
.vscode/
.idea/
.parcel-cache/

# Ignore Node.js dependencies
node_modules/