<nav>
   <div class="header_cont">

      <!-- Hamburger -->
      <div class="hamburger">
         <div class="hamburger-container js-hamburger-container">
            <div class="hamburger-menu"><span></span><span></span><span></span></div>
         </div>
      </div>
      <div class="logo">
         <!-- logo -->
         <svg class="icon">
            <use xlink:href="#primaryNavLogo"></use>
         </svg>
      </div>
      <div class="nav">
         <div class="nav__links">
            <ul>
               <li>
                  <div class="nav__links__children">
                     <div>
                        New cars
                     </div>
                     <div class="arrowdown">
                        <svg class="icon">
                           <use xlink:href="#globalArrowDown"></use>
                        </svg>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="nav__links__children">
                     <div>
                        Used cars
                     </div>
                     <div class="arrowdown">
                        <svg class="icon">
                           <use xlink:href="#globalArrowDown"></use>
                        </svg>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="nav__links__children">
                     <div>
                        Servivcing
                     </div>
                     <div class="arrowdown">
                        <svg class="icon">
                           <use xlink:href="#globalArrowDown"></use>
                        </svg>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="nav__links__children">
                     <div>
                        Commercials
                     </div>
                     <div class="arrowdown">
                        <svg class="icon">
                           <use xlink:href="#globalArrowDown"></use>
                        </svg>
                     </div>
                  </div>
               </li>
               <li>
                  <a>Motability</a>
               </li>
            </ul>
         </div>
         <div class="nav__cont">
            <div class="nav__input">
               <div class="nav__icon">
                  <!-- Phone -->
                  <svg class="icon">
                     <use xlink:href="#globalSearchThin"></use>
                  </svg>
               </div>
               <input placeholder='Search "Make, model or location"' type="text" />
               <div class="nav__icon">
                  <!-- Phone -->
                  <svg class="icon">
                     <use xlink:href="#primaryNavMic"></use>
                  </svg>
               </div>
            </div>
            <!-- Mobile Icon -->
            <div class="nav__icons search">
               <!-- Search -->
               <svg class="icon">
                  <use xlink:href="#globalSearch"></use>
               </svg>
            </div>
            <div class="nav__icons">
               <!-- Fav -->
               <svg class="icon">
                  <use xlink:href="#primaryNavFindUs"></use>
               </svg>
            </div>
            <div class="nav__icons">
               <!-- Profile -->
               <svg class="icon">
                  <use xlink:href="#primaryNavUser"></use>
               </svg>
            </div>
            <div class="nav__icons">
               <!-- Phone -->
               <svg class="icon">
                  <use xlink:href="#globalPhoneAlt"></use>
               </svg>
            </div>
         </div>
      </div>
   </div>
</nav>